# KEEP SOURCE FILES. Do NOT ignore *.sh or *.py.
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/

.git
.gitignore
.gitattributes

.env
.env.*
*.env

dist/
build/
node_modules/
.DS_Store
Thumbs.db

# Optional (only if you NEVER need them inside the image)
# data/
# datasets/
# outputs/
